{% block extra_style %}
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <style>
   	th {
    	background-color: #dddddd;
    	}
   </style> 
{% endblock %}
{% block content %}
<html>
<table style="width: 100%; margin-bottom: 10px; border: 0.5px solid black; padding-top: 2px;">
<tr>
<td>
<h3 style="text-align: center;">Distribuidora Hector Godoy S. de R.L.</h3>
<h4 style="text-align: center;">Departamento de Mantenimiento</h4>
<h4 style="text-align: center;">Orden de Trabajo {{id}}</h4>
</td>
<td style="width: 30%;">
<table style="border: 0.5px solid black;">
<tr>
<th>SCRE-001</th>
</tr>
<tr><td style="text-align: center;">Version: 01</td></tr>
<tr><td style="text-align: center;">Ultima Revision 10/10/2018</td></tr>
</table>
</td>
</tr>
</table>
 
 <body>
 <div style="margin-bottom: 10px;">
 <table style="width: 100%; margin-bottom: 10px; border: 0.5px solid black; padding-top: 2px;">
 <tr>
 	<th style="text-align: center;">Orden de Trabajo</th>
 	<th style="text-align: center;">Maquina</th>
 	<th style="text-align: center;">Fecha: </th>
 	</tr>
 <tr>
 	<td style="text-align: center;">{{id}}</td>
 	<td style="text-align: center;">{{maquina}}</td>
 	<td style="text-align: center;">{{fecha}}</td>
 </tr>
 </table>
 <table style="width: 100%; margin-bottom: 10px; border: 0.5px solid black; padding-top: 2px;">
 	<tr>
	<th style="text-align: center;">Departamento</th>
	<th style="text-align: center;">Solicitante</th> 
	<th style="text-align: center;">Responsable</th>
	</tr>
	<tr>
	<td style="text-align: center;">{{departamento}}</td>
	<td style="text-align: center;">{{usuario}}</td>
	<td style="text-align: center;">{{responsable}}</td>
	</tr>
 </table>
 </div>
 <div>
 <table style="width: 100%; border: 0.5px solid black; padding-top: 2px; margin-bottom: 10px;">
	<tr>
	<th style="text-align: center;">Tipo</th>
	<th style="text-align: center;">Criticidad</th>
	<th style="text-align: center;">Incidencia</th>
	</tr>
	<tr>
	<td style="text-align: center;">{{tipo}}</td>
	<td style="text-align: center;">{{criticidad}}</td>
	<td style="text-align: center;">{{incidencia}}</td>	
	</tr> 
 </table>
 </div>
 <div style="width: 100%; text-align: left;">
 <table style="width: 100%; border: 0.5px solid black; padding-top: 2px; margin-bottom: 10px;">
 <tr>
 <th style="text-align: center;">Descripcion</th>
 </tr>
 <tr>
 <td style="text-align: center;">{{descripcion}}</td>
 </tr>
 </table>
 </div>
 <div>
	<table style="width: 100%; border: 0.5px solid black; padding-top: 2px; text-align: center; margin-bottom: 10px;">
	<tr>
	<th>Actividades Realizadas</th>
	</tr>	
	<tr >
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	<tr>
	<td>&nbsp;</td>	
	</tr>
	</table>
	<table style="width: 100%; border: 0.5px solid black; padding-top: 2px; text-align: center; margin-bottom: 10px;">
	<tr>
	<th>Observaciones</th>	
	</tr>
	<tr>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>&nbsp;</td>
	</tr>
	<tr>
	<td>&nbsp;</td>
	</tr>
	</table>	
	</div> 
 </div>
 <div>
 <table style="width: 100%; border: 0.5px solid black; padding-top: 2px; text-align: center; margin-bottom: 10px;">
	<tr>
	<th style="width: 13%;">Cantidad</th>
	<th style="width: 15%;">Unidad</th>
	<th>Material</th>	
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr> 
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr> 
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr> 
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr> 
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr> 
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr> 
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr>  
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr>  
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr>  
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr>  
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>	
	</tr>  
 </table>
 </div>
 <div>
	<table style="width: 100%; border: 0.5px solid black; padding-top: 2px; margin-bottom: 10px;">
	<tr>
	<th>Fecha Programada</th>
	<th>Fecha/Hora Inicio</th>
	<th>Fecha/Hora Finalizacion</th>
	<th style="width: auto;">Tiempo de Trabajo</th>
	<th style="width: 10%;">Horas</th>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>	
	</table>
	<table style="border: 0.5px solid black; padding-top: 2px; margin-bottom: 10px;">
	<tr>
	<th>Fecha de Cierre</th>
	<th>Firma Cierre OT</th>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	</tr>	
	</table>
</body> 
</html>
{% endblock %}